/.idea/

/target/
/Java_elementary_VP.iml
/src/main/java/ua/pro/hw/
/src/main/java/ua/pro/hw1/
/src/main/java/ua/pro/hw2/
/src/main/java/ua/pro/hw2/HomeWork2Lesson2.java
/src/main/java/ua/pro/hw3/
/src/main/java/ua/pro/hw3/HomeWork3Lesson2.java
/src/main/java/ua/pro/hw4/
/src/main/java/ua/pro/hw4/HomeWork4Lesson2.java
/src/main/java/ua/pro/hw6/
/src/main/java/ua/pro/hw6/LinkedListTwo.java
/src/main/java/ua/pro/hw6/Main.java
/src/main/java/ua/pro/hw6/MyList.java
/src/main/java/ua/pro/hw9/
/src/main/java/ua/pro/hw9/Main.java
/src/main/java/ua/pro/hw9/MethodTwo.java
/src/main/java/ua/pro/hw20/
/src/main/java/ua/pro/hw20/Main.java
/src/main/java/ua/pro/hw29/
/src/main/java/ua/pro/hwlesson3/
/src/main/resources/
/src/test/
/src/test/java/
/src/test/java/ua/pro/hw29/
/src/test/java/ua/pro/hw29/CenturyResolverTest.java
/src/test/java/ua/pro/hw29/LengthCounterTest.java
